body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #ffcccc, #cce7ff);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
}

h1 {
    color: #333;
}

input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-top: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

button {
    background-color: #57d7e6da;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

button:hover {
    background-color: #0dc4d1;
}

#message, #attempts {
    font-size: 14px;
    color: #333;
}

.hidden {
    display: none;
}